extends partials/layout

block content
  div.press-kit
    img.press-kit-hero(src='images/speglar-hero.png')
    div.press-kit-content
      a.download-all-images(href='images/speglar-press-kit-images.zip').
        Download all images as .zip
      div.press-kit-descriptions
        div.factsheet
          h2 Factsheet

          h3 Developer
          a(href='https://dxtr.se/' target='_blank').
            Dexter Gramfors
          div Based in Brooklyn, NY

          h3 Platforms
          a(href='https://store.steampowered.com/app/2772890/Speglar/' target='_blank').
            Steam
          span.spacer ,
          a(href='https://www.wonderville.nyc/games#:~:text=slam%2Dem%2Dup.-,Speglar,-Use%20mirrors%20scattered' target='_blank').
            Arcade

          h3 Release date
          div May 20, 2024

          h3 Regular price
          div $3.99

          h3 Socials
          a(href='https://discord.gg/zBvgudR975' target='_blank').
            Discord
          span.spacer ,
          a(href='https://twitter.com/DexterGramfors' target='_blank').
            Twitter

        div.descriptions
          h2 Pitch
          p.
            Use mirrors scattered across a top-down 4-player arena to set up the perfect ricochet shot to take your enemies out.
          h2 Description
          p.
            In the intergalactic sport of Speglar, pilots ricochet bullets using mirrors
            scattered throughout the arena to take out their opponents in chaotic yet competitive matches.
            When cornered, deploy your shield to reflect your enemies' bullets right back at them.
            Sit back and enjoy frantic and fun casual games, or deep-dive into the mechanics and become 
            a true Speglar master.
          h2 Project history
          p.
            Speglar started out as an arcade exclusive game, with a cabinet built in association with
            #[a(href="https://arcadecommons.org/") Acade Commons] and hosted at #[a(href="https://www.wonderville.nyc/") Wonderville].
      hr
      h2 Videos
      b Official trailer 
      iframe(width='560' height='315' src='https://www.youtube.com/embed/cNLjfEH2hq0?si=Sjfz4GV0xsWAu1mU' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
      hr
      h2 Screenshots
      div.image-grid
        -var i = 0
        while i < 4
          -i++
          -var src = `images/speglar-press-kit-images/screenshot-${i}.png`
          a(href=src target='_blank')
            img(src=src)
      hr
      h2 Logos
      div.image-grid
        -var i = 0
        while i < 2
          -i++
          -var src = `images/speglar-press-kit-images/logo-${i}.png`
          a(href=src target='_blank')
            img(src=src)
      hr
      h2 Key art
      div.image-grid.key-art
        -var i = 0
        while i < 4
          -i++
          -var src = `images/speglar-press-kit-images/key-art-${i}.png`
          a(href=src target='_blank')
            img(src=src)
      